/* Style untuk elemen <body> */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Style untuk elemen <div id="app"> */
#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style untuk elemen <form> */
form {
  margin-bottom: 20px;
}

/* Style untuk elemen <label> */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style untuk elemen <input> */
input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style untuk tombol */
button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

/* Style untuk elemen <ul> */
ul {
  list-style-type: none;
  padding: 0;
}

/* Style untuk elemen <li> dalam daftar produk */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

/* Style untuk tombol Edit dan Hapus */
button:hover {
  background-color: #0056b3;
}

/* Style untuk elemen <p> total harga */
p {
  font-weight: bold;
  margin-top: 20px;
}
